

html,
body {
  background: var(--default);
  color: #fff;
}

:root {
  --default: #121213;
  --empty: #3a3a3c;
  --wrong: #b59f3b;
  --right: #538d4e;
}

#game {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 0.5rem;


}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--empty);
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  margin-top: 20px;
  border-top: 10px solid var(--default);
}

.box.empty {
  background: var(--empty);
}

.box.wrong {
  background: var(--wrong);
}

.box.right {
  background: var(--right);
}
#message{
    color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
  }
  .box {
    margin: 0 5px;
  }

#wordInput{
background-color: #ffffff89;
width: 150px;
padding: 10px;

}
#guessButton{
width: 150px;
padding: 10px;

}
#startgame{
background-color: #ffffff89;
width: 150px;
padding: 10px;
}

#instrucsion{
  display: none;
}
#showInstructions{
  background-color: #ffffff89;
  width: 150px;
  padding: 10px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 100%;
  gap: 25px;
}

#wordForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 10px;
}
.check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 10px;
  width: 100%;
  margin: auto; /* Center the element */
}

#Scoreboard{
  display: flex;
  flex-direction: column;

  gap: 25px;
  margin-right: 10px;
  position: absolute; 
  right: 5px; 
  background-color: #ffffff89;
  padding: 15px;
  border-radius: 10px;
}
p{
  font-size: 1rem;
  text-align: center;
}

::backdrop {
  background-color: rgba(255, 255, 255, 0.531);

}

#checkInput,
#reset{
  background-color: #ffffff89;
  width: 150px;
  padding: 10px;
  
}

#reset{
  display: none;
}

@media screen and (max-width: 600px){
  .container {
    flex-direction: column-reverse;
   
  
}
  #Scoreboard{
     position: static;
     width: 300px;
     height: 100px;
  }
  .Score{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Score h2{
  margin-top: 0;
padding: 0;
}
  

  #scoreboard-wins{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}